/**
* Colors
**/
/**
* Animations
**/
/* This is a mixin that will be used to create a breakpoint for the desktop. */
/**
* Resets
**/
/**
* Basic styles
**/
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-dark {
  background-color: #12002b;
}

.main {
  flex: 1;
}

/**
* Basic typography style for copy text
*/
/**
* Helper classes
**/
/**
* Header styles
**/
header .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-right: 0.5rem;
}
header .main-nav a {
  color: #2c3e50;
  font-weight: bold;
}
header .main-nav a.router-link-exact-active {
  color: #42b983;
}
header .main-nav .connected {
  display: flex;
  gap: 1rem;
}
header .main-nav .connected p {
  font-weight: bold;
}
header .main-nav .connected i {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
header .main-nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .main-nav-item i {
  margin-right: 0.3rem;
}
header .main-nav-item:hover {
  text-decoration: underline;
}
header .main-nav-logo {
  display: flex;
  align-items: center;
}
header .main-nav-logo-image {
  width: 200px;
  max-width: 100%;
}
header .sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/**
* Footer styles
**/
.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem;
  border-top: 2px solid #ccc;
}
.footer-text {
  margin: 0;
  padding: 0;
}

/**
* Hero Component
**/
.hero {
  position: relative;
  height: 300px;
  background-image: url("../assets/images/bank-tree.webp");
  background-position: 0 -50px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
}
.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  text-align: left;
}
@media (min-width: 920px) {
  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
}
.hero-content .subtitle {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
@media (min-width: 920px) {
  .hero-content .subtitle {
    font-size: 1.5rem;
  }
}
.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media (min-width: 920px) {
  .hero-content .text {
    font-size: 1.2rem;
  }
}

/**
* Feature Component
**/
.features {
  display: flex;
  flex-direction: column;
}
@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.feature-icon {
  width: 100px;
  padding: 1rem;
  border: 10px solid #00bc77;
  border-radius: 50%;
}
.feature-item {
  -ms-flex: 1;
  flex: 1;
  padding: 2.5rem;
  -webkit-box-flex: 1;
}
.feature-item-title {
  margin-bottom: 0.5rem;
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
}

/**
* Form Component
**/
.sign-in-content {
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: white;
}
.sign-in-icon {
  font-size: 5rem;
}
.sign-in-button {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 8px;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

.sign-in-content form .input-remember {
  display: flex;
}
.sign-in-content form .input-remember label {
  margin-left: 0.25rem;
}
.sign-in-content form .input-error {
  margin-top: 15px;
  color: red;
}
.sign-in-content form .input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}
.sign-in-content form .input-wrapper label {
  font-weight: bold;
}
.sign-in-content form .input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.sign-in-content form .error-message {
  color: red;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 25px;
}

/**
* User Component
**/
.edits {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 80%;
}
@media (min-width: 720px) {
  .edits {
    flex-direction: row;
    gap: 10px;
  }
}

.edit-input {
  align-items: center;
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 20px;
}
.edit-input input {
  border-radius: 2px;
  height: 35px;
  padding-left: 3px;
  width: 240px;
}
.edit-input *:disabled {
  background-color: #c9c9c9;
  color: #505050;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.buttons .edit-username-button {
  background-color: #00bc77;
  border: none;
  border-color: #00bc77;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.625rem;
  width: 120px;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 25px;
}

/**
* Home page
*/
/**
* Profile page
*/
.account {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: 1px solid black;
  background-color: #fff;
  text-align: left;
}
@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }
}
.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account-amount-description {
  margin: 0;
}
.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account-content-wrapper {
  flex: 1;
  width: 100%;
}
.account-content-wrapper.cta {
  flex: 0;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 720px) {
  .transaction-button {
    width: 200px;
  }
}

.error {
  min-height: 610px;
  width: 100%;
}
@media (max-width: 920px) {
  .error {
    min-height: 680px;
  }
}
@media (min-width: 1900px) {
  .error {
    min-height: 820px;
  }
}
.error .green-error {
  margin-top: 6rem;
  width: 47%;
}
.error .text-error {
  margin-top: 2rem;
}
.error .button-404 {
  align-items: center;
  background-color: #00bc77;
  border-color: #00bc77;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 12.5rem;
  padding: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
